@import "tailwindcss";

html,
body,
#root {
  height: 100dvh;
  width: 100%;
  @apply bg-slate-950;
  @apply text-slate-50;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

main {
  @apply p-4 grow w-full max-w-lg md:max-w-2xl lg:max-w-4xl m-auto flex justify-center;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

.muted-text {
  @apply text-slate-400;
}

.primary-link {
  @apply text-emerald-400;
  @apply hover:text-emerald-200 hover:outline-1 outline-emerald-200;
}

input,
textarea {
  @apply bg-slate-800 border border-slate-800 rounded-md;
  @apply text-slate-100 placeholder:text-slate-500;
}

input {
  @apply py-2 px-4;
}

.primary-button {
  @apply px-4 py-2 rounded-md cursor-pointer
    bg-emerald-400
    text-slate-950
    font-medium
    shadow-lg shadow-black/40
    transition;

  @apply hover:bg-emerald-300;
}

.secondary-button {
  @apply px-5 py-2.5 rounded-md cursor-pointer
    bg-slate-800
    text-slate-100
    font-medium
    border border-slate-800
    shadow-lg shadow-black/40
    transition;

  @apply hover:bg-slate-700;
}
