@import "tailwindcss";
@import "tw-animate-css";

html,
body,
#root {
  height: 100dvh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}
